:root {
  --primary: rgba(102, 112, 133, 1);
  --secondary: rgba(29, 41, 57, 1);
  --tertiary: rgba(65, 204, 204, 1);
  --error: rgb(223, 24, 24);
  --warning: rgba(244, 176, 0, 1);

  --black: rgb(0, 0, 0);
  --blacky: rgb(48, 48, 48);
  --white: rgb(255, 255, 255);
  --whitey: rgb(152, 162, 179);

  --shadow: rgba(48, 48, 48, 0.3);
  --input-border: 1px solid rgba(208, 213, 221, 1);
  --card-border: 0.5px solid rgba(66, 66, 66, 0.5);
}
