.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  .item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-inline: 5px;
    &.selected {
      background-color: var(--tertiary);
    }
  }
}
